<!DOCTYPE html>
<html>
<head>
	<title>Translate</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static '/assets/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/assets/css/style.css' %}">
    <script src = "{% static 'assets/js/jquery-3.4.1.min.js' %}"></script>
    <script src = "{% static 'assets/js/script.js' %}"></script>

</head>
<body>
	<header class="header-section">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark site-navbar">
			<div class="container">
				<form class="form-inline">
						{% csrf_token %}
					<div class="input-group mr-5">
						<input id="s_url" type="text" class="form-control" name="s_url" placeholder="URL to translate" aria-label="Recipient's username" aria-describedby="button-addon2">
						<div class="input-group-append">
							<button class="btn btn-success btn-outline-secondary" id="submitBtn" type="button"> Translate </button>
						</div>
					</div>
					
					<label>From: &nbsp;&nbsp;</label>
					<select class="form-control" name="s_lang">
						<option value="en">English</option>
						<option value="ar">Arabic</option>
						<option value="cs">Czech</option>
						<option value="de">German</option>
						<option value="es">Spanish</option>
						<option value="fr">French</option>
						<option value="it">Italian</option>
						<option value="ja">Japanese</option>
						<option value="pt">Portuguese</option>
						<option value="ru">Russian</option>
						<option value="tr">Turkish</option>
						<option value="zh">Chinese (Simplified)</option>
					</select>
					<label class="ml-3">To: &nbsp;&nbsp;</label>
					<select class="form-control" name="t_lang">
						<option value="en">English</option>
						<option value="ar">Arabic</option>
						<option value="cs">Czech</option>
						<option value="de">German</option>
						<option value="es" selected>Spanish</option>
						<option value="fr">French</option>
						<option value="it">Italian</option>
						<option value="ja">Japanese</option>
						<option value="pt">Portuguese</option>
						<option value="ru">Russian</option>
						<option value="tr">Turkish</option>
						<option value="ko">Turkish</option>
						<option value="zh">Chinese (Simplified)</option>
					</select>
				</form>
			</div>
		</nav>
	</header>
	<div class="mt-1 d-none trans-bar">
		<div class="progress" style="height: 4px;">
			<div class="progress-bar progress-bar-striped" role="progressbar" style="width: 5%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
	</div>
	<div class="container-fluid">
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>